header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--white);
    padding: 2px;
    grid-area: "header";
    width: 100vw;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
    z-index: 50;


  }

  .ulHeader{
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    list-style: none;
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
  }

  .ulHeader li a,.ulHeader li a:visited {
    color: #101010;
    text-decoration: none;
    transition: 0.4s ease color;


  }

  .ulHeader li a:hover {
    color: var(--orange);
    
  }

  .logo {
      font-family: "Bilbo Swash Caps", cursive;
      font-size: 35px;
  }